<a href="https://colab.research.google.com/github/aryanmanik29/ml/blob/main/housepredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
import pandas as pd

In [65]:
import numpy as np

In [66]:
data=pd.read_csv("Bengaluru_House_Data.csv")

In [67]:
data.head(5
)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [69]:
data2=data.drop(["society"],axis=1)

In [70]:
data2.head(5)

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [71]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [72]:
data2.tail()

,area_type,availability,location,size,total_sqft,bath,balcony,price
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.0,231.0
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,5.0,NaN,400.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.0
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.0,17.0

In [73]:
data2.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [74]:
data2["balcony"].value_counts()

balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64

In [75]:
data2["balcony"].fillna(data2["balcony"].median(),inplace=True)

<ipython-input-75-9b3da7a59563>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2["balcony"].fillna(data2["balcony"].median(),inplace=True)

In [76]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       13320 non-null  float64
 7   price         13320 non-null  float64
dtypes: float64(3), object(5)
memory usage: 832.6+ KB

In [77]:

data2["bath"].value_counts()

bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64

In [78]:
data2.drop(index=data2.index[data2["bath"].apply(lambda x:x>20)],inplace=True)

In [79]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13318 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13318 non-null  object
 1   availability  13318 non-null  object
 2   location      13317 non-null  object
 3   size          13302 non-null  object
 4   total_sqft    13318 non-null  object
 5   bath          13245 non-null  float64
 6   balcony       13318 non-null  float64
 7   price         13318 non-null  float64
dtypes: float64(3), object(5)
memory usage: 936.4+ KB

In [80]:
data2["location"].value_counts()

location
Whitefield                            540
Sarjapur  Road                        399
Electronic City                       302
Kanakpura Road                        273
Thanisandra                           234
                                     ...
 Whitefield                             1
Kengeri Satellite Town ( BDA SITE)      1
Indiranagar HAL 2nd Stage               1
K R C kothanur                          1
Abshot Layout                           1
Name: count, Length: 1304, dtype: int64

In [81]:
counts = data2["location"].value_counts(dropna=False)

In [82]:
data2["location"]=data2["location"].apply(lambda x : "other"if counts[x]==1 else x)

In [83]:
data2["location"].value_counts()

location
Whitefield                 540
other                      480
Sarjapur  Road             399
Electronic City            302
Kanakpura Road             273
                          ...
Vaderahalli                  2
Sunder Ram Shetty Nagar      2
Vibhutipura Extension        2
Geleyara Balaga Layout       2
Annaiah Reddy Layout         2
Name: count, Length: 826, dtype: int64

In [84]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13318 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13318 non-null  object
 1   availability  13318 non-null  object
 2   location      13318 non-null  object
 3   size          13302 non-null  object
 4   total_sqft    13318 non-null  object
 5   bath          13245 non-null  float64
 6   balcony       13318 non-null  float64
 7   price         13318 non-null  float64
dtypes: float64(3), object(5)
memory usage: 936.4+ KB

In [85]:
data2["size"].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
19 BHK           1
16 BHK           1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [86]:
data2["size"].str.strip()

0            2 BHK
1        4 Bedroom
2            3 BHK
3            3 BHK
4            2 BHK
           ...
13315    5 Bedroom
13316        4 BHK
13317        2 BHK
13318        4 BHK
13319        1 BHK
Name: size, Length: 13318, dtype: object

In [87]:
data2["size"].isna().sum()

16

In [88]:
data2["size"]=data2["size"].str.replace("BHK","")

In [89]:
data2["size"]=data2["size"].str.replace("Bedroom","")

In [90]:
data2["size"].value_counts()

size
2       5528
3       4857
4       1417
1        643
5        356
6        221
7        100
8         89
9         54
10        14
1 RK      13
11         4
19         1
16         1
14         1
12         1
13         1
18         1
Name: count, dtype: int64

In [91]:
data2["size"]=data2["size"].str.replace("RK","")

In [92]:
data2["size"]=pd.to_numeric(data2["size"])

In [93]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13318 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13318 non-null  object
 1   availability  13318 non-null  object
 2   location      13318 non-null  object
 3   size          13302 non-null  float64
 4   total_sqft    13318 non-null  object
 5   bath          13245 non-null  float64
 6   balcony       13318 non-null  float64
 7   price         13318 non-null  float64
dtypes: float64(4), object(4)
memory usage: 936.4+ KB

In [94]:
data2["bath"].quantile(.999)

12.0

In [95]:
data2[data2["bath"]>10]

,area_type,availability,location,size,total_sqft,bath,balcony,price
938,Plot Area,Ready To Move,5th Phase JP Nagar,9.0,1260,11.0,2.0,290.0
1078,Plot Area,Ready To Move,BTM 1st Stage,9.0,3300,14.0,2.0,500.0
1768,Plot Area,Ready To Move,other,11.0,1200,11.0,0.0,170.0
1953,Plot Area,Ready To Move,KR Puram,8.0,1200,12.0,2.0,110.0
1979,Plot Area,Ready To Move,Hongasandra,8.0,990,12.0,0.0,120.0
3096,Super built-up Area,Ready To Move,other,10.0,12000,12.0,2.0,525.0
3379,Super built-up Area,Ready To Move,other,19.0,2000,16.0,2.0,490.0
3609,Super built-up Area,Ready To Move,Koramangala Industrial Layout,16.0,10000,16.0,2.0,550.0
4916,Super built-up Area,Ready To Move,other,14.0,1250,15.0,0.0,125.0
6937,Plot Area,Ready To Move,5th Block Hbr Layout,9.0,2600,12.0,2.0,675.0
7979,Super built-up Area,Ready To Move,other,11.0,6000,12.0,2.0,150.0
8106,Plot Area,Ready To Move,Wilson Garden,8.0,1850,12.0,2.0,300.0
8636,Super built-up Area,Ready To Move,Neeladri Nagar,10.0,4000,12.0,2.0,160.0
9935,Super built-up Area,Ready To Move,other,13.0,5425,13.0,0.0,275.0
10695,Plot Area,18-Feb,Electronic City,9.0,1200,13.0,2.0,150.0
11128,Plot Area,Ready To Move,Jigani,10.0,1200,11.0,2.0,105.0
11559,Plot Area,18-Apr,other,18.0,1200,18.0,2.0,200.0
13067,Plot Area,Ready To Move,Defence Colony,10.0,7150,13.0,2.0,3600.0

In [96]:
data2=data2.dropna()

In [97]:
data2["bath"].isna().sum()

0

In [98]:
#4data2["bath"].apply(lambda x:data["size"]+2 if x==NaN else x)

In [99]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13245 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13245 non-null  object
 1   availability  13245 non-null  object
 2   location      13245 non-null  object
 3   size          13245 non-null  float64
 4   total_sqft    13245 non-null  object
 5   bath          13245 non-null  float64
 6   balcony       13245 non-null  float64
 7   price         13245 non-null  float64
dtypes: float64(4), object(4)
memory usage: 931.3+ KB

In [100]:
data2["total_sqft"].value_counts()

total_sqft
1200    843
1100    221
1500    204
2400    194
600     180
       ...
5985      1
3580      1
2461      1
1437      1
4689      1
Name: count, Length: 2067, dtype: int64

In [110]:
def range(x):
    x=str(x)
    if len(x.split("-"))==2:
        return str((float(x.split("-")[0])+float(x.split("-")[1]))/2)
    try:
        return str(x)
    except:
        return str(x)

In [111]:
data2["total_sqft"]=data2["total_sqft"].apply(lambda x:range(x))

In [45]:
data2["total_sqft"]=pd.to_numeric(data2["total_sqft"])

ValueError: Unable to parse string "34.46Sq. Meter" at position 406

In [117]:
data2.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2.0,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4.0,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3.0,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3.0,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2.0,1200,2.0,1.0,51.00

In [113]:
def convert(x):
  try:
    int(x)
    return True
  except  ValueError:
    return False

In [121]:
print(data2.index)

Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,     9,
       ...
       13310, 13311, 13312, 13313, 13314, 13315, 13316, 13317, 13318, 13319],
      dtype='int64', length=13245)

In [114]:
c=0
len(data2["total_sqft"])
data2["total_sqft"][1]

'2600'

In [120]:
for i in range(len(data2["total_sqft"])):
  value = str(data2["total_sqft"].iloc[i])
  if convert(value):
    continue
  else:
    c=c+1
print(c)

TypeError: Cannot index by location index with a non-integer key

In [ ]:
corr_matrix=data2.corr()